<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <h3>Post details</h3>
  <ul>
    <li><%= post.name %></li>
    <li><%= post.title %></li>
    <li><%= post.description %></li>
    <li><%= post.date %></li>
  </ul>
  <a href="/posts/<%= post._id %>/edit">Edit</a>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="Post">
    <button>Delete</button>
  </form>
</body>
</html>